.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  height: 90vh;
  gap: 10px;
  font-family: var(--font-geist-sans);
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 25vw;
  background-color: #d7f7f5;
}

.page::before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('@/public/images/background.webp'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    opacity: 0.4;
}

.heading{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin: 0 1rem;
}

.subheading{
  position: relative;
  font-size: 19px;
  color: #707070;
}

.workLink{
  padding: 0.5rem 2.5rem;
  margin: 2rem 0;
  position: relative;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  font-size: 19px;
  background-color: #263859;
  color: #FAFAFA;
}

.workLink:hover{
  transform: translateY(-5px);
}

.homeWorkSection{
  padding: 2rem;
}

.homeSkillSection{
  padding: 4rem 2rem;
  background-color: #d7f7f5;
}

.workheading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

.homeAboutSection{
  height: 70vh;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  background-color: #d7f7f5;
}

.homeAboutSection:after{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/public/images/SedatCanUygur.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    opacity: 0.3;
}

.aboutText{
  text-align: left;
  width: 40%;
  margin-top: 1rem;
  color: #707070;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.educationWrapper{
  padding: 4rem 0;
  padding-bottom: 2rem;
}
.content{
  padding-bottom:20px;
}
.educationDepartment{
  color: #263859;
}
.educationGPA{
  color: #707070;
}
.educationSchool{
  color: #363537;
}  
/* timeline styles */
.timeline{
  position:relative;
  margin:2rem auto;
  padding:40px 0;
  width: 60vw;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:85%;
  background:#a8a8a8;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:#a8a8a8;
  border-radius:50%;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:#a8a8a8;
  border-radius:50%;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
  font-size: 14px;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  width: 150px;
  text-align: center;
  padding:8px 16px;
  border-radius:18px;
  color: #263859;
  border: 2px solid #263859;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  width: 150px;
  text-align: center;
  margin:0;
  padding:8px 16px;
  border-radius:18px;
  color: #263859;
  border: 2px solid #263859;
}

.cta3{
  padding: 0.4rem 2.5rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  border: 2px solid #263859;
  background: #263859; 
  color: #FAFAFA;
}

.cta3:hover{
  transform: translateY(-5px);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    background-color: #263859;
  }
  .subheading{
    color: #D0D0D0;
  }
  .workLink{
    background-color: #d7f7f5;
    color: #101010;
  }
  .homeSkillSection{
    background-color: #263859;
  }
  .logo {
    filter: invert();
  }
  .homeAboutSection{
    background-color: #263859;
  }
  .aboutText{
    color: #D0D0D0;
  }
  .time
  {
    color: #d7f7f5;
    border: 2px solid #d7f7f5;
  }
  .educationDepartment{
    color: #d7f7f5;
  }
  .educationSchool{
    color: #FAFAFA;
  }
  .educationGPA{
    color: #D0D0D0;
  }
  .cta3{
    background: #d7f7f5;
    color: #101010;
    border: 2px solid #d7f7f5;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media only screen and (max-width: 1200px){
  .timeline{
      width: 80vw;
  }
}

@media only screen and (max-width: 850px){
  .page {
    padding: 0 15vw;
  }
  .heading {
    font-size: 35px;
  }
  .subheading {
    font-size: 17px;
  }
  .workLink {
    padding: 0.3rem 1.7rem;
    margin-top: 1rem;
    font-size: 15px;
  }
  .workheading{
    font-size: 45px;
  }
  .aboutText{
    text-align: left;
    width: 70%;
    position: static;
  }
  .timeline{
    width: 90vw;
    padding-bottom: 0;
  }

  .timeline:before{
    left:20px;
    top: 10px;
    height:90%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 535px){
  .page{
    height: 70vh;
    padding: 0 10vw;
  }
  .heading{
    font-size: 22px;
  }
  .subheading{
    font-size: 15px;
  }
  .homeWorkSection{
    padding: 1rem;
  }
  .homeSkillSection{
    padding: 2rem 1rem;
  }
  .workheading{
    font-size: 40px;
  }
  .homeAboutSection{
    height: 80vh;
  }
  .aboutText{
    text-align: left;
    width: 100%;
  }
}