.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /*display: grid;
  grid-template-rows: 20px 1fr 20px;*/
  /*padding: 80px;*/
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 10px;
  font-family: var(--font-geist-sans);
  height: 90vh;
  width: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 25vw;
  background-color: #d7f7f5;
}

.page::before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/public/images/zbynek-burival-8iZG31eXkks-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    opacity: 0.3;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    background-color: #263859;
  }
  .subheading{
    color: #D0D0D0;
  }
  .workLink{
    background-color: #d7f7f5;
    color: #101010;
  }
  .homeSkillSection{
    background-color: #263859;
  }
  .logo {
    filter: invert();
  }
  .homeAboutSection{
    background-color: #263859;
  }
  .aboutText{
    color: #D0D0D0;
  }
}

.heading{
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  margin: 0 1rem;
}

.subheading{
  position: relative;
  font-size: 19px;
  color: #707070;
}

.workLink{
  padding: 0.5rem 2.5rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
  font-size: 19px;
  background-color: #263859;
  color: #FAFAFA;
}

.workLink:hover{
  transform: translateY(-5px);
}

.homeWorkSection{
  padding: 2rem;
}

.homeSkillSection{
  padding: 4rem 2rem;
  background-color: #d7f7f5;
}

.workheading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
}

.homeAboutSection{
  height: 70vh;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  background-color: #d7f7f5;
}

.homeAboutSection::before{
  content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('dark_about.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    opacity: 0.3;
}

.aboutText{
  text-align: left;
  width: 40%;
  margin-top: 1rem;
  color: #707070;
  position: relative;
}

@media only screen and (max-width: 850px){
  .page {
    padding: 0 15vw;
  }
  .heading {
    font-size: 35px;
  }
  .subheading {
    font-size: 17px;
  }
  .workLink {
    padding: 0.3rem 1.7rem;
    margin-top: 1rem;
    font-size: 15px;
  }
  .workheading{
    font-size: 45px;
  }
  .aboutText{
    text-align: left;
    width: 70%;
    position: static;
  }
}

@media only screen and (max-width: 535px){
  .page{
    height: 70vh;
    padding: 0 10vw;
  }
  .heading{
    font-size: 22px;
  }
  .subheading{
    font-size: 15px;
  }
  .homeWorkSection{
    padding: 1rem;
  }
  .homeSkillSection{
    padding: 2rem 1rem;
  }
  .workheading{
    font-size: 40px;
  }
  .homeAboutSection{
    height: 80vh;
  }
  .aboutText{
    text-align: left;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
