.experienceWrapper {
  max-width: 75vw;
  margin: 1rem;
}

.experienceCardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-gap: 0.5rem;
  place-items: center;
  align-items: start;
}

.experienceCard {
  margin: 0 1rem;
  max-width: 593px;
  transition: 0.2s ease-in;
}

.experienceCard:hover {
  transform: scale(0.98);
}

.experienceTitle {
  background: #d7f7f5;
}

.experienceCardContent {
  padding: 0 1rem;
  position: relative;
  top: 0;
  text-align: center;
}

.experienceCardContent h1 {
  text-transform: uppercase;
  font-size: 16px;
}

.experienceCardContent h2 {
  font-size: 14px;
}

.experienceCardContent h3 {
  font-size: 12px;
  padding: 0 1rem;
  position: relative;
}

.experienceCardContent h4 {
  font-size: 11px;
  position: relative;
  color: #707070;
}

.experienceTime {
  color: #707070;
}

.avatar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

@media (prefers-color-scheme: dark) {
  .experienceCardContent h4 {
    color: #d0d0d0;
  }
  .experienceTitle {
    background: #263859;
  }
  .experienceTime {
    color: #d0d0d0;
  }
}

@media only screen and (max-width: 600px) {
  .experienceWrapper {
    max-width: 90vw;
    margin: auto;
  }

  .experienceCard {
    margin: 0 1rem;
  }

  .experienceCardContent h3 {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 350px) {
  .experienceCardWrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  }
}
