.cta2 {
  font-size: 14px;
  text-decoration: underline;
  color: #75cac3;
}

.cta2:hover {
  transform: translateY(-5px);
}

.projectmain {
  width: 45%;
  margin: 4rem auto;
  padding: 0 2rem;
  border: 3px dashed;
  border-color: #263859;
}

.projectIcon {
  height: 60px;
  width: 60px;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 4px solid;
  margin-left: auto;
  cursor: pointer;
  color: #263859;
  border-color: #263859;
  background-color: #f0f0f0;
}

.projectContent {
  transform: translateY(-2.1rem);
}

.projectTitle {
  font-size: 18px;
}

.projectSubTitle {
  font-size: 14px;
  margin-bottom: 1rem;
  color: #707070;
}

@media (prefers-color-scheme: dark) {
  .cta2 {
    color: #a2aab9;
  }
  .projectmain {
    border-color: #d7f7f5;
  }
  .projectIcon {
    color: #d7f7f5;
    border-color: #d7f7f5;
    background-color: #16161d;
  }
  .projectSubTitle {
    color: #d0d0d0;
  }
}

@media only screen and (max-width: 850px) {
  .projectmain {
    width: 70%;
  }
}

@media only screen and (max-width: 535px) {
  .projectmain {
    width: 80%;
    padding: 0 1rem;
    margin: 3rem auto;
  }
  .projectIcon {
    height: 50px;
    width: 50px;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
    border: 3px solid white;
  }
  .projectContent {
    transform: translateY(-1.8rem);
  }
  .projectSubTitle {
    margin-bottom: 0.5rem;
  }
}
