.logo{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}

.navbar{
  z-index: 50;
  padding: 0.9rem 5rem 1.3rem 5rem;
  width: -webkit-fill-available;
  width: -moz-available;
}

.navlinks {
  padding: 0 1.5rem;
  font-size: 15px;
}

.navlinks a{
    opacity: 80%;
    position: relative;
    text-transform: uppercase;
}

.navlinks a:hover{
    opacity: 100%;
}

.navlinks a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.navlinks a:hover:after {
  width: 100%;
  transition: 0.25s linear;
}

@media only screen and (max-width: 950px){
  .logo{
    font-size: 20px;
  }
  .navbar{
    padding: 0.5rem;
  }
  .navlinks {
    padding: 0.5rem;
    font-size: 12px;
  } 
}